//@use "./components/reset"
@use "./abstracts"

html
  overflow-x: hidden
  overflow-y: scroll

html, body, #root
  height: 100%

#root
  display: flex
  flex-direction: column
  justify-content: space-between

  >main
    flex: 1

body
  color: white
  background: #020617

.container
  width: 100%
  max-width: 1126px
  margin: 0 auto
  padding: 1rem 1.1rem