@use "./components/reset"
@use "./abstracts"

html, body, #root
  height: 100%

#root
  display: flex
  flex-direction: column

  >main
    flex: 1

body
  color: black
  background-color: white

.container
  width: 100%
  max-width: 1126px
  margin: 0 auto
  padding: 1rem 1.1rem