@use "../../../../styles/abstracts"

.user-form
  display: flex
  flex-direction: column
  gap: 1rem
  align-self: flex-start

  >*
    max-width: 200px
    width: 100%

  button
    background: #368752